*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*~
*.Rhistory
*_cache
*_files
\#*#
.#*
.Rproj.user
.doit.db*
auto/
__pycache__
/web/venv/
/web/output/
/web/cache/
/lectures/*.pdf
/lectures/Lecture_*.tex
/lectures/figure/
