*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*~
\#*#
.#*
.doit.db*
/cache/
/output/
auto/
__pycache__
venv/
/web/output/
/web/cache/
lectures/*.pdf
lectures/Lecture_*.tex
.Rproj.user
*.Rhistory

/lectures/figure/
/lectures/lecture-02_cache/
/lectures/lecture-02_files/
