/* increment problems */
#problems {
    counter-reset:h2
}
#problems h2:before {
    counter-increment: h2;
    content: "Problem " counter(h2) ": ";
}
#problems h2 {
  font-size: 20px;
}

/* Definition list */
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  margin 0;
  padding 0;
}
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0 0;
}
